doctype html
html
  head
    title=title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/Font-Awesome/css/font-awesome.min.css')
    link(rel="stylesheet", href="/rolling/css/rolling.css")
    link(rel="stylesheet", href="/ihover/ihover.min.css")
    link(rel='stylesheet', href='/stylesheets/css.css')
    //- script(type="text/javascript", src="/javascripts/jquery-1.11.2.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", data-main="main.js", src="/require.js")
    //- script(type="text/javascript", src="/javascripts/jquery-1.11.2.min.js")
    //- script(type="text/javascript", src="/socket.io/socket.io.js")
    //- script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    //- script(type="text/javascript", src="/rolling/js/rolling.js")
    //- script(type="text/javascript", src="/javascripts/Public.js")
    //- script(type="text/javascript", src="/javascripts/io.js")
  body.pc(ip=ip)
    block content
