extends layout

block content
	.login
		.yq
			-var a = Math.floor(Math.random()*23+1);
			img(src='/images/user/default/tx ('+a+').jpg', alt="")
			input(type="file", accept="image/*")
			.input-group
					input.form-control(type="text" placeholder="你的昵称……")
					span.input-group-btn
						button#login.btn.btn-default(type="button") GO!